<nav class="navbar p-0 m-0">
  <div class="container h-100">
    <a class="navbar-brand text-dark" href="#">Grant $Maker</a>
    <ul class="h-100 m-0 d-flex align-items-center">
      <li class="h-100">
        <a class="px-2 h-100 d-flex align-items-center" href="#" routerLink="/"
          >About</a
        >
      </li>
      <li class="h-100">
        <a class="px-2 h-100 d-flex align-items-center" href="#">Projects</a>
      </li>
      <li class="h-100">
        <a class="px-2 h-100 d-flex align-items-center" routerLink="/blog">
          Blog</a
        >
      </li>
    </ul>
  </div>
</nav>
