<div class="footer text-dark">
  <!-- <input placeholder="sign up for updates" />
  <button class="btn bg-white border border-primary text-primary">
    Submit
  </button> -->
  <div>
    <h4>Blog</h4>
    <ul>
      <li>Adventure</li>
      <li>Book Reviews</li>
      <li>Programming</li>
      <li>Self Improvement</li>
    </ul>
  </div>
  <!-- Social Links-->
  <div>
    <h4>Find Me</h4>
  </div>
  <div>
    <h4>Portfolio</h4>
    <ul>
      <li>Angular + Postgres</li>
      <li>React Native + Machine Learning</li>
      <li>React Native + Go</li>
    </ul>
  </div>
</div>
