.blog-header-image {
  /* height: 300 */
  /* background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%; */
  height: 50vh;
  width: 100vw;
  object-fit: cover;
  /* width: 50px;
  height: 100px; */
}
.blog-content {
  max-width: 700px;
  margin: auto;
}
