<div class="container">
  <h1>Blog</h1>
  <p>
    Blog introduction. This is where I will write an intro paragraph talking
    about my blog.
  </p>
  <!-- Sign Up -->
  <div class="d-flex flex-column align-items-center">
    <div class="blog-section d-flex flex-column">
      <h2>Most Recent Posts</h2>
      <ul>
        <li>
          <a routerLink="/blog/2">Title of Article</a> Brief description of
          article goes right here (Date)
        </li>
        <li>
          <a routerLink="/blog/1">Title of Article</a> Brief description of
          article goes right here (Date)
        </li>
        <li>
          <a href="#">Title of Article</a> Brief description of article goes
          right here (Date)
        </li>
        <li>
          <a href="#">Title of Article</a> Brief description of article goes
          right here (Date)
        </li>
      </ul>
    </div>
    <div class="blog-section">
      <h2>Adventure</h2>
      <ul>
        <li>
          <a href="#">Page Title Right Here</a> Brief description of article
          goes right here
        </li>
        <li>
          <a href="#">Page Title Right Here</a> Brief description of article
          goes right here
        </li>
        <li>
          <a href="#">Page Title Right Here</a> Brief description of article
          goes right here
        </li>
        <li>
          <a href="#">Page Title Right Here</a> Brief description of article
          goes right here
        </li>
      </ul>
    </div>
    <div class="blog-section">
      <h2>Book Reviews</h2>
      <ul>
        <li>
          <a href="#">Page Title Right Here</a> Brief description of article
          goes right here
        </li>
        <li>
          <a href="#">Page Title Right Here</a> Brief description of article
          goes right here
        </li>
        <li>
          <a href="#">Page Title Right Here</a> Brief description of article
          goes right here
        </li>
        <li>
          <a href="#">Page Title Right Here</a> Brief description of article
          goes right here
        </li>
      </ul>
    </div>
    <div class="blog-section">
      <h2>Self Improvement</h2>
      <ul>
        <li>
          <a href="#">Page Title Right Here</a> Brief description of article
          goes right here
        </li>
        <li>
          <a href="#">Page Title Right Here</a> Brief description of article
          goes right here
        </li>
        <li>
          <a href="#">Page Title Right Here</a> Brief description of article
          goes right here
        </li>
        <li>
          <a href="#">Page Title Right Here</a> Brief description of article
          goes right here
        </li>
      </ul>
      <h2>Programming</h2>
      <ul>
        <li>
          <a href="#">Page Title Right Here</a> Brief description of article
          goes right here
        </li>
        <li>
          <a href="#">Page Title Right Here</a> Brief description of article
          goes right here
        </li>
        <li>
          <a href="#">Page Title Right Here</a> Brief description of article
          goes right here
        </li>
        <li>
          <a href="#">Page Title Right Here</a> Brief description of article
          goes right here
        </li>
      </ul>
    </div>
  </div>
</div>
